*.so
*.jar
*.class
*.dex
*.apk
*.aab
build/
.cxx/
*.png
*.jpg
*.jpeg
*.ttf
*.otf
*.ico
.DS_Store
*.iml
.idea/
local.properties
*.keystore
*.jks
google-services.json
.flutter-plugins
.flutter-plugins-dependencies
*.lock
android/.gradle/
android/app/.cxx/
android/build/
android/local.properties
.dart_tool/
